body{
  background-color: #dcd2dd;
}
.head{
  height: 60px;
  width: 100vw;
  background-color: rgb(207, 178, 180);
  position: relative;
  color: rgb(90, 27, 27);
  display: flex;
  position: sticky;
  
  align-items: center;
  
}
.navul{
  position: absolute;
  padding-left: 50rem;
  position: sticky;
}
.navli{
  list-style-type: none;
  display: inline-block;
  margin-left: 50px;
  
}
.navli:hover{
  transform: scale(1.2);
  font-weight: bold;
}

span{
  color: rgb(90, 27, 27);
  margin-left: 50px;
}

/* navbar */

.headNav{
  background-color: azure;
  position: relative;
  border-color: white;
  height:100%;
  width:200px;
}

.header{
  
  background-color: white;
  top: 0px;
  
  width:100vw;
  display: flex;
  justify-content: space-between;
}

.headli{
  color: rgb(90, 27, 27);
  list-style-type: none;
  display: inline-block;
  margin-left: 60px;
}
.headul{
  background-color: rgb(247, 229, 230);
  width: 100vw;
  height: 40px;
  position: absolute;
  margin-top: 0px;
}

/* cards */
.card{
  justify-content: left ;
  align-items: center;
  display: flex;
  width: 20rem;
  box-shadow: 5px 10px rgb(186, 185, 185);
  padding: 20px;
}
 /* .card:hover{
transform: scale(1.1);
} */
.btn:hover{
  transform:scale(1.1) ;
}